<div class='quiz' style='display:none'>
	<p class='question'></p>
	<ul>
	  <li class='answer'></li>
	  <li class='answer'></li>
	</ul>
	<button style='display:none' id='next'>Next</button>
</div>

<script type="text/javascript">
	updateScoreboard();
</script>