<h1>Twitter Quiz / Trendster</h1>

    <div class="Scoreboard">
      <h2> SCOREBOARD</h2>
        <div class="Group 1">
          <h3> this is group 1 scoreboard</h3>
          <ul id="nav">
            <li>MemberName1</li>
            <li>MemberName2</li>
          </ul>
        </div>

        <div class="Group 2">
          <h3> this is group 2 scoreboard</h3>
            <ul id="nav">
              <li>MemberName1</li>
              <li>MemberName2</li>
            </ul>
        </div>
    
      <h2> NAV LINKS </h2>
        <div class="nav">
          <ul id="nav">
            <li>View Group Scoreboard</li>
            <li>Logout</li>
          </ul>
        </div>
      <h2> LIVE TWITTER FEED </h2> 
        <div class="TwitterFeed">
          <p><%= @twitter.user("andrew_kim12").created_at %></p>
        </div>
      <div class="quiz">  
        <h4><%= @questions.sample.body %></h4>
        <div class="answers">
          <p>Answer 1</p>
          <p>Answer 2</p>
        </div> 
      </div>  

    </body>

    <footer>
        <div class="Footer">
            <b>"Copyright: Alison, Aurora, Andy and Akin"</b>
        </div>
    </footer>
</html>