<div class='container'>
  <button id='start'>Start!</button>
  <%= render 'quiz' %>
  <%= render 'score' %>
</div>


<% if current_user %>
  <p class='user' id='<%= current_user.id %>'></p>
<% end %>

<script type="text/javascript">
$('#start').on('click', function(event){
	event.preventDefault();
	$(this).hide();
	$('.quiz').show();
});

$('#quit').on('click', function(event){
	event.preventDefault();
	$('.quiz').hide();
  $('#start').show();
})
</script>