<h2><%= @group.name %></h2>

<table class='scoreboard'>
  <tr>
    <th>User</th>
    <th>Score</th>
  </tr>
  <% @group_users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.score %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', groups_path %>