@import 'main.scss';

form {
	@include partial;
	text-align: center;
	background-color: $pink-l;
	.field {
		/*padding: 10px 0;*/
	}
	.actions {
		/*padding: 10px 0;*/
	}
	a {
		color: $pink-d;
	}
}

input[type='email'],
input[type='password'] {
	width: 200px;
	margin: 0 0 10px 0;
}

input[type='submit'] {
	@include buttons;
	margin: 20px auto;
	padding: 0px 10px;
	font-size: 20px;
}