@import 'main.scss';

/*start button*/
#start {
	@include buttons;
	padding: 0 25px;
	font-size: 50px;
}

.quiz {
	@include partial;
	text-align: center;
	background-color: $theme_color-l;
	#quit {
		color: $theme_color-d;
		display: block;
		float: right;
	}
	.question {
		text-transform: uppercase;
		font-family: $open-sans;
		font-weight: 800;
		font-size: 20px;
	}
	ul {
		padding: 0;
		.answer {
			padding: 5px 0;
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	#next {
		@include buttons;
		padding: 0 10px;
		font-size: 20px;
	}
}