/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*variables*/
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$theme_color: #ccD9EA;
$theme_color-xd: darken($theme_color, 22%);
$theme_color-d: darken($theme_color, 15%);
$theme_color-l: lighten($theme_color, 5%);
$border: 2px solid #FFF;

/*mixins*/
@mixin box-sizing( $type: border-box ) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	-o-box-sizing: $type;
	-ms-box-sizing: $type;
	box-sizing: $type;
}

@mixin partial {
	width: 50%;
	margin: auto;
	padding: 10px 30px 30px 30px;
	border: $border;
	border-radius: 5px;
}

@mixin large-text {
	font-family: $open-sans;
	font-weight: 800;
	text-transform: uppercase;
}

@mixin buttons {
	@include large-text;
	margin: auto;
	border: $border;
	border-radius: 5px;
	background-color: $theme_color-d;
	color: #FFF;
}

/*main elements*/
* { 
	@include box-sizing(); 
}

body {
	font-family: $montserrat;
	background-color: $theme_color;
	color: $theme_color-d;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
}

ul {
	list-style-type: none;
}