*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Coda);

body{
	width: 100%;
	background-color: #777;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
	padding-top: 20px;
	color: #fafafa;
	min-height: 100vh;
	font-family: 'Raleway', 'Arial', sans-serif;	
}

header {
	width: 100%;
}

#logo {
	margin: auto;
	display: block;
}

ul {
	list-style-type: none;
	padding: 10px 20px;
}

nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #ffffff 100%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 25px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(1055, 455, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  margin-top: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Arial";
  text-transform:uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: black;
}

.container {
	flex-direction: column;
	display: flex;
	justify-content:center;
}

.quizDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.quizDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.quizDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: center;
} 

.question {
  padding-top: 18px;
  font-weight: bold;
}

.answer {
  padding: 10px;
  color: #534f4e;
  font-size: 18px;
}

.answer:hover {
  font-weight: bold;
}

#next {
  background-color: #525252;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  margin: auto;
  border: none;
  border-radius: 5px;
}

#next:hover {
  background-color: rgba(0, 217, 255, 0.5);
  color: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #00d9ff; 
}

.scoreboardBox {
	height: auto;
	width: 400px; 
	padding: 20px;
	background-color: white;
	margin-top: 0px;
	margin-bottom: 40px; 
	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
	border: solid 1px;
	/* gradients */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%, white), color-stop(15%, white), color-stop(100%, #C1C6C9)); 
	background: -moz-linear-gradient(top, white 0%, white 55%, #B5BCC4 130%); 
}
@keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-moz-keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-o-keyframes bar-fill {
  0% {
    width: 0;
  }
}

.bar-graph {
  list-style: none;
  margin: 50px 0px auto;
}

.bar-wrap {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #BDB6BF;
  border: 1px solid #534f4e;
  margin-bottom: 10px;
}

.bar-fill {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-animation: bar-fill 1s;
  -webkit-animation: bar-fill 1s;
  -ms-animation: bar-fill 1s;
  animation: bar-fill 1s;
  background-color: #3A383B;
  display: block;
  height: 15px;
  width: 0px;
}

p {
  color: #534f4e;
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  margin: auto;
}

.scoreboardBox{
	margin: auto;
	margin-top: 50px;
}

/*Start button*/
.startquiz{
	text-align: center;
}

#startButton{
	background-color: #525252;
  /*font-family: "Arial";*/
  text-transform: uppercase;
  font-size: 20px;
	padding: 18px;
	width: 398px;
	margin: auto;
	border: none;
	border-radius: 5px;
}

#startButton:hover {
	background-color: rgba(0, 217, 255, 0.5);
}

#startButton a {
  color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.groupbox {
	width: 500px;
	height: 400px;
	margin: auto;
	border-radius: 3px;
    box-shadow:
        -4px  0px 0 0 #999, 
         0px -4px 0 0 #999,
         4px  0px 0 0 #999, 
         0px  4px 0 0 #999,
         0px  0px 0 7px #333;
  	background-color: #595959;
  	text-align: center;
  	padding-top: 10px;
 }

.button:hover {
	background: #666B6B;
	background: -webkit-gradient(linear, left top, left bottom, from(#666B6B), to(#DCDEDE));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.button:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #DEE3E3;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
}	

#joingroup {
	margin-left: 50px;
}

#seescoreboard {
	margin-left: 50px;
}

table {
	margin: auto;
}

.name {
	font-family: 'Coda', cursive;
	color: #ffffff;
}

/*LOGIN PAGE*/

.fieldLogin{
	margin-left: 100px;
	width:400px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:50%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.fieldLogin:hover{
  background:#2288bb;
}

.fieldEmail{
	margin-left: 100px;
	width:400px;
  background:#fafafa;
  display:block;
  margin:0 auto;
  margin-top:-4%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.fieldPassword{
	margin-left: 100px;
	width:400px;
  background:#fafafa;
  display:block;
  margin:0 auto;
  margin-top:0%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}


#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.check_box {
	width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
}

#user_password{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#user_email{
	 width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

.fieldSubmit {
	width:92%;
  background:#2288bb;
  margin-bottom:4%;
  padding:6%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;

  width:400px;
  margin:0 auto;
  margin-top:0px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.fieldSubmit input[type='submit']{
	margin-left: 70px;
	background-color: rgba(34,136,187,1);
   width: 200px;
   height: 30px;
   padding: 0px;
   display: inline;
   font-size: 23px;
   line-height: 32px;
   text-indent: 12px;
   border: solid 3399cc 5px;
   color: rgba(255,252,255,1);
   border: none;
}

/*SIGN UP PAGE*/

#login h2{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.fieldSignup{
	margin-left: 100px;
	width:400px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:0%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.fieldSignup input[type='password_field']{
	margin-left: 70px;
	background-color: rgba(34,136,187,1);
   width: 200px;
   height: 30px;
   padding: 0px;
   display: inline;
   font-size: 23px;
   line-height: 32px;
   text-indent: 12px;
   border: solid 3399cc 5px;
   color: rgba(255,252,255,1);
   border: none;
}

#user_email_confirmation {
		 width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

.fieldSignup input[type='submit']{
	margin-left: 70px;
	background-color: rgba(34,136,187,1);
   width: 200px;
   height: 30px;
   padding: 0px;
   display: inline;
   font-size: 23px;
   line-height: 32px;
   text-indent: 12px;
   border: solid 3399cc 5px;
   color: rgba(255,252,255,1);
   border: none;
}
