/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*mixins*/
@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

@mixin large-text {
	font-family: $open-sans;
	font-weight: 800;
	text-transform: uppercase;
	color: #FFF;
}

/*variables*/
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans';
$pink: #FFD9EA;
$pink-d: darken($pink, 15%);
$gray: #0e0e0e;

/*styles*/
* { 
	@include box-sizing(); 
}

body {
	font-family: $montserrat;
	background-color: $pink;
	color: $pink-d;
}

.container {
	display: flex;
	flex-direction: column;
	height: 80vh;
}

h1{
	@include large-text;
	font-size: 50px;
}

h2 {
	@include large-text;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	&:hover {
		color: $pink-d;
		border-bottom: 10px solid $pink-d;
	}
}

header {
	border-bottom: 2px solid #FFF;
	h1 {
		display: inline;
	}
	nav {
		display: inline;
		ul {
			display: inherit;
		}
		li {
			display: inherit;
			padding: 0 20px;
			text-transform: uppercase;
		}
	}
}

button {
	padding: 0 25px;
	margin: auto;
	border: 2px solid #fff;
	border-radius: 5px;
	font-family: $open-sans;
	font-weight: 800;
	font-size: 50px;
	text-transform: uppercase;
	background-color: inherit;
	color: #fff;
	&:hover {
		background-color: $pink-d;
	}
}

.quiz {
	margin: auto;
	border-radius: 5px;
}

footer {
	text-align: center;
}